{{ sftp_sshd_config_content.stdout }}

# Begin SFTP-Server block
Match Group {{ sftp_group_name }}
    ChrootDirectory %h
    PasswordAuthentication yes
    AllowTCPForwarding no
    X11Forwarding no
    ForceCommand internal-sftp
    PasswordAuthentication {% if sftp_allow_passwords %}yes{% else %}no{% endif %}

# End SFTP-Server block
